<div class="homepage-hero-module">
    <div class="index-panel">
        <span class="logo">
            Betwith<span style="color:#ff4742;">Friends</span>
        </span>
    
    
        <div class="action-button-section">
            <a href="#">
                <div class="btn action-button">
                    ¡Regístrate!
                </div>
            </a>
        </div>
        <p>¿Ya eres miembro? <a href="#"><b id="sign-in-link">Entra aquí</b></a></p>
    </div>
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="Beach-Ball.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="Beach-Ball.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="Beach-Ball.jpg" alt="">
        </div>
    </div>
</div>